<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">
</htmlxmlns:th>

<head>
  <meta charset="utf-8">
  <title>SpringBoot Janken</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>
  <h1>Janken Game!</h1>

  <p>
    エントリー
  <form action="/janken" method="post">
    <div th:if="${room}">
      <ul>
        <div th:if="${User}">
          Hi![[${User}]]
        </div>
  </form>
  <li th:each="user : ${room.users}">[[${user}]]</li>
<li th:each="user : ${users}"><a th:href="@{/match(id=${user.id})}"> [[${user.name}]]</a></li>
  </ul>
  </div>
  </p>



    <!-- <div th:each="users,stat:${users}">
       <div th:each="users,stat:${users}"></div>
      <tr>
        <td>Index:[[${stat.index}]]</td>
        <td>ID:[[${users.id}]]</td>
        <td>ユーザ名:[[${users.name}]]</td>
      </tr>
    </div> -->

  <!-- <div th:if="${matches}">
      <tr>
        <td>Index:[[${stat.index}]]</td>
        <td>ID:[[${matches.id}]]</td>
        <td>[[${matches.user1}]]</td>
      </tr>
    </div> -->



  <!--
  <form action="/janken" method="post">
    <div th:if="${User}">
      Hi![[${User}]]
    </div>
  </form>
  <div>
    <a href="/jankengame/Gu">グー</a>
    <a href="/jankengame/Cho">チョキ</a>
    <a href="/jankengame/Pa">パー</a>

  </div> -->



  <!-- <div th:if="${janResult}"> -->
  <!--thymeleafを利用してjavaから値を受けるとき，ModelMapの変数名を指定のとおりに囲むと良い-->
  <!--Pathパラメータ-->
  <!-- <p>あなたの手[[${janhand}]]</p>
    <p>相手の手 グー</p>
    <p>結果[[${janResult}]]</p>
    <a href="/janken">もどる</a>
  </div>
  </p> -->




</body>

</html>
